.modal-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}
.new-shipment-modal {
    position: absolute;
    display: flex;

    background-color: #ffffff;
    z-index: 1000;

    width: 567px;
    height: 431px;
    padding: 32px 29px 24px 32px;

    left: 50%;
    top: 50%;
    margin-left: -283px;
    margin-top: -215px;

    flex-direction: column;
    &__title {
        font-size: 24px;
        line-height: 24px;
    }
    &__description {
        font-size: 16px;
        line-height: 24px;
    }
    label {
        color: rgba(0, 0, 0, 0.5);
    }
    
}
