.shipments-page {
  margin: 24px 32px;
}

button {
  height: 40px;
  background: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

}
button.green{
  background: #307460;
  color: #FFFFFF; 
}
